.col-4,
.col-8 {
  padding: 0;
}

.row {
  margin-right: calc(var(--bs-gutter-x) / 0);
  margin-left: calc(var(--bs-gutter-x) / 0);
}

@media only screen and (max-width: 600px) {
  body {
    width: 300%;
  }
}
